# ---> Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Environment variables
.env

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Build
build/
dist/
*.egg-info/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# FastAPI / Uvicorn reload cache
.watchfiles/
